/* Flip Stuff */
.card,
.card__inner {
  position: relative;
  width: 130px;
  height: 130px;
}

.card {
  perspective: 1000px;
  margin: 15px;
  padding: 0;
  width: 130px;
  height: 130px;
  border: 7px solid white;
  border-radius: 10px;
  box-sizing: content-box;
}

.card--flipped .card__inner {
  transform: rotateY(180deg);
}

.card__inner {
  transition: transform 0.25s ease-in-out;
  transform-origin: 50% 50%;
  transform-style: preserve-3d;
}

.card__back {
  transform: rotateY(180deg);
}

.card__front,
.card__back {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;

  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: content-box;
}

.card__front {
  background-color: #c4ced8;
  background-image: url("./img/question.png");
}

.card__back {
  padding: 10px;
  background-color: #f4eaea00;
}
